{% set DEFAULT_EXAMPLE %}
--- START OF EXAMPLE ---

USER: print 2

ASSISTANT:
<execute_ipython>
print(2)
</execute_ipython>

USER:
OBSERVATION:
2

ASSISTANT:
The task is completed.
<finish></finish>

--- END OF EXAMPLE ---
{% endset %}
Here is an example of how you can interact with the environment for task solving:
{{ DEFAULT_EXAMPLE }}

NOW, LET'S START!
