apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
type: Opaque
stringData:
  GITHUB_APP_CLIENT_ID: "value"
  GITHUB_APP_CLIENT_SECRET: "value"
  LLM_API_KEY: "value" 
  LLM_MODEL: "value"
  LLM_BASE_URL: "value"
  APP_MODE: "value"
  APP_SLUG: "value"
  SANDBOX_REMOTE_RUNTIME_API_URL: "value"
  SANDBOX_API_KEY: "value"
  RUNTIME: "value"
  JWT_SECRET: "value"